@import "lib/scss/common";
.legacy.collection {
    margin: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    @extend .fadable;
    position: absolute;
    li {
        height: 84px;
        padding: 10px 10px 10px 84px;
        .thumbnail {
            left: 0;
            margin: auto 9px;
            position: absolute;
            width: $primary-size;
            height: $primary-size;
            border: 1px solid #999;
            box-shadow: 2px 2px 5px -2px #555;
        }
        .title {
            height: 24px;
            font-size: 16px;
            overflow: hidden;
            line-height: 24px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .no, .date {
            height: 20px;
            font-size: 15px;
            line-height: 20px;
        }
    }
}
.analyze {
    @extend .fadable;
    svg {
        margin: auto;
        max-width: 500px;
        max-height: 500px;
        display: block;
        .label {
            font-size: 35px;
            text-anchor: middle;
        }
        .info-wrapper {
            text-align: center;
            @include display-flex;
            justify-content: center;
            @include flex-flow(row wrap);
            .info, .odometeor {
                width: 250px;
                height: 50px;
                padding: 0 !important;
                color: #000 !important;
                font-size: 35px !important;
                font-weight: 400 !important;
                line-height: 50px !important;
                background-color: transparent !important;
            }
            .odometer-digit { color: #000 !important }
        }
    }
    .type > .data > .row > .count { font-size: 16px }
    .country, .year, .type {
        margin: 0;
        width: 100%;
        min-width: 296px;
        @extend .fadable;
        position: absolute;
        text-align: center;
        background-color: #88CB53;
        .data {
            padding: 0;
            color: #12202D;
            border: 2px solid #74B73F;
            .row { margin: 0 }
            .count { font-size: 20px }
            .percent { font-size: 18px }
            .current { font-size: 18px }
            .col { line-height: 48px; padding: 0 }
        }
    }
    .country > .col {
        .flag, .content {
            height: 48px;
            font-size: 20px;
            line-height: 48px;
            width: $primary-size;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
         }
        .flag {
            z-index: 2;
            position: relative;
        }
        .content {
            z-index: 1;
            position: absolute
        }
        .percent { width: calc(100% - 64px) }
        .flag-icon-eu { background-image: url(eu.svg) }
    }
}