@import "lib/scss/common";
main {
    .result-wrapper {
        @extend .fadable;
        min-width: 296px;
        nav {
            z-index: 1;
            position: fixed;
            min-height: $primary-size;
            line-height: $primary-size;
            background-color: $primary-color;
            a {
                position: absolute;
                width: $primary-size;
                height: $primary-size;
                @include user-select(none);
                line-height: $primary-size;
            }
        }
        .analyze-wrapper {
            top: 64px;
            height: 0;
            z-index: 0;
            width: 100%;
            overflow: hidden;
            position: absolute;
        }
        &.active > .analyze-wrapper { height: auto }
    }
    > .content-wrapper {
        opacity: 1;
        margin: 25px auto 0;
        @include user-select(none);
        @include transition(opacity .3s ease-in-out, width .2s ease-in-out, height .2s ease-in-out);
        &.active {
            opacity: 0;
            z-index: -1;
        }
        @include stretch(0, 0, 0, 0);
        &.focus .search-wrapper {
            background-color: white;
            #search, .material-icons {
                color: black;
                box-shadow: none;
            }
        }
        &.searching {
            pointer-events: none;
            .search-wrapper .progress {
                opacity: 1;
                visibility: visible;
            }
        }
        .logo {
            margin: auto;
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("logo.png");
            background-position: center center;
            @include transition(width .2s ease-in-out, height .2s ease-in-out);
        }
        .search-wrapper {
            height: 48px;
            margin: 50px auto;
            position: relative;
            @extend .renderable;
            #search {
                margin: 0px;
                border: none;
                color: white;
                font-size: 24px;
                height: inherit;
                line-height: 48px;
                padding: 0px 48px;
                width: calc(100% - 96px);
            }
            .material-icons {
                width: 48px;
                color: white;
                cursor: default;
                font-size: 34px;
                line-height: 48px;
                position: absolute;
                &.settings-button,  {
                    right: 0;
                    left: unset;
                    cursor: pointer;
                    border-radius: 50%;
                }
            }
            .progress {
                opacity: 0;
                height: 4px;
                margin: -4px 0 0;
                @extend .fadable;
                visibility: hidden;
                background-color: white;
                .indeterminate { background-color: $primary-color }
            }
        }
        .flag-wrapper {
            font-size: 0px;
            cursor: default;
            line-height: 0px;
            @extend .renderable;
            @include display-flex;
            justify-content: center;
            @include flex-flow(row wrap);
            @include transition(width .2s ease-in-out, height .2s ease-in-out);
            &.active {
                z-index: 999;
                position: fixed;
                background-color: wheat;
                i { pointer-events: auto }
            }
            i {
                width: $primary-size;
                height: 48px;
                margin: 5px;
                pointer-events: none;
                &.deactivate { opacity: .1 }
                &.flag-icon-eu { background-image: url("eu.svg") }
            }
        }
    }
    > .content-wrapper, > .content-wrapper .flag-wrapper {
        @media #{$minimum-screen} {
            width: 296px;
            .logo { height: 160px }
        }
        @media #{$small-screen} { width: 370px }
        @media #{$medium-screen} { width: 444px }
        @media #{$large-screen} { width: 518px }
        @media #{$maximum-screen} { width: 592px }
    }
    .overlay {
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 998;
        height: 120vh;
        position: fixed;
        @extend .fadable;
        background-color: rgba(0, 0, 0, .5);
        &.active { height: 100% }
    }
}