@import "{francocatena:compass}/compass";
@import "{francocatena:compass}/compass/layout";
@import "lib/mixins";
@import "lib/colorsheet";
$primary-color: #74B73F;
$primary-size: 64px;
$minimum-screen: "(max-width: 389px)";
$small-screen: "(min-width: 390px) and (max-width: 463px)";
$medium-screen: "(min-width: 464px) and (max-width: 537px)";
$large-screen: "(min-width: 538px) and (max-width: 611px)";
$maximum-screen: "(min-width: 612px) ";
.fadable {
    opacity: 0;
    visibility: hidden;
    @include transition(opacity .3s ease-in-out, visibility .3s ease-in-out);
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
.renderable {
    background-color: $primary-color;
    @include transition(background-color .3s ease-in-out);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.result-wrapper {
    @extend .fadable;
    min-width: 296px;
    nav {
        z-index: 1;
        position: relative;
        min-height: $primary-size;
        line-height: $primary-size;
        background-color: $primary-color;
        a {
            width: $primary-size;
            height: $primary-size;
            @include user-select(none);
            line-height: $primary-size;
        }
        [type="radio"] + label {
            padding: 0;
            width: 58px;
            color: white;
            font-size: 32px;
            margin: 19.5px 0;
            vertical-align: middle;
            &:before, &:after { display: none }
        }
        [type="radio"]:not(:checked) + label { opacity: .5 }
    }
    svg {
        margin: auto;
        max-width: 500px;
        max-height: 500px;
        display: block;
    }
    .legacy.collection {
        margin: 0;
        width: 100%;
        border: none;
        border-radius: 0;
        @extend .fadable;
        position: absolute;
        li {
            height: 84px;
            padding: 10px 10px 10px 84px;
            .thumbnail {
                left: 0;
                margin: auto 9px;
                position: absolute;
                width: $primary-size;
                height: $primary-size;
                border: 1px solid #999;
                box-shadow: 2px 2px 5px -2px #555;
            }
            .title {
                height: 24px;
                font-size: 16px;
                overflow: hidden;
                line-height: 24px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .no, .date {
                height: 20px;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
    .analyze {
        @extend .fadable;
        .country, .year, .type {
            margin: 0;
            width: 100%;
            min-width: 296px;
            @extend .fadable;
            position: absolute;
            text-align: center;
            background-color: #74B73F;
            .col {
                padding: 0;
                .row {
                    margin: 0;
                }
                .flag { width: $primary-size }
                // .percent {
                //     line-height: 48px;
                //     width: calc(100% - 64px);
                // }
            }
        }
        .year > .col {
            color: #12202D;
            border: 2px solid #74B73F;
            .col { line-height: 30px }
            .count { font-size: 20px }
            .percent { font-size: 16px }
            .current { font-size: 18px }
        }
    }
}
.content-wrapper {
    opacity: 1;
    margin: 25px auto 0;
    @include user-select(none);
    @include transition(opacity .3s ease-in-out, top .3s ease-in-out, width .2s ease-in-out, height .2s ease-in-out);
    &.active {
        opacity: 0;
        top: -135%;
    }
    @include stretch(0, 0, 0, 0);
    &.focus .search-wrapper {
        background-color: white;
        #search, .material-icons {
            color: black;
            box-shadow: none;
        }
    }
    &.searching {
        pointer-events: none;
        .search-wrapper .progress {
            opacity: 1;
            visibility: visible;
        }
    }
    .logo {
        margin: auto;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("logo.png");
        background-position: center center;
        @include transition(width .2s ease-in-out, height .2s ease-in-out);
    }
    .search-wrapper {
        height: 48px;
        margin: 50px auto;
        position: relative;
        @extend .renderable;
        #search {
            margin: 0px;
            border: none;
            color: white;
            font-size: 24px;
            height: inherit;
            line-height: 48px;
            padding: 0px 48px;
            width: calc(100% - 96px);
        }
        .material-icons {
            width: 48px;
            color: white;
            cursor: default;
            font-size: 34px;
            line-height: 48px;
            position: absolute;
            &.settings-button,  {
                right: 0;
                left: unset;
                cursor: pointer;
                border-radius: 50%;
            }
        }
        .progress {
            opacity: 0;
            height: 4px;
            margin: -4px 0 0;
            @extend .fadable;
            visibility: hidden;
            background-color: white;
            .indeterminate { background-color: $primary-color }
        }
    }
    .flag-wrapper {
        font-size: 0px;
        cursor: default;
        line-height: 0px;
        @extend .renderable;
        @include display-flex;
        justify-content: center;
        @include flex-flow(row wrap);
        @include transition(width .2s ease-in-out, height .2s ease-in-out);
        &.active {
            z-index: 999;
            position: fixed;
            background-color: wheat;
            i { pointer-events: auto }
        }
        i {
            width: $primary-size;
            height: 48px;
            margin: 5px;
            pointer-events: none;
            &.deactivate { opacity: .1 }
            &.flag-icon-eu { background-image: url("eu.svg") }
        }
    }
}
.content-wrapper, .content-wrapper .flag-wrapper {
    @media #{$minimum-screen} {
        width: 296px;
        .logo { height: 160px }
    }
    @media #{$small-screen} { width: 370px }
    @media #{$medium-screen} { width: 444px }
    @media #{$large-screen} { width: 518px }
    @media #{$maximum-screen} { width: 592px }
}
.overlay {
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 998;
    height: 120vh;
    position: fixed;
    @extend .fadable;
    background-color: rgba(0, 0, 0, .5);
}